<form [formGroup]='clienteForm'>
    <h1>Formulario Cliente</h1>
    <div class="datosCliente">


        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="nombre">          
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Apellido</mat-label>
                <input matInput type="text" formControlName="apellido">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Telefono</mat-label>
            <input matInput type="int" formControlName="telefono">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Dirección</mat-label>
                <input matInput type="text" formControlName="direccion">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput type="date" formControlName="fechaNacimiento">
        </mat-form-field>

       
    </div>
    
    <button mat-raised-button (click)="subir()">Enviar</button>
    
</form>